// Variables
$primary-color: #007bff;
$secondary-color: #0056b3;
$border-color: #ddd;
$text-color: #333;
$font-size: 16px;

// Mixins
@mixin border-radius($radius) {
  border-radius: $radius;
}

// Container
.searchContainer {
  justify-content: center;
  align-items: center;
  width: 100vw;
  justify-content: center;
}

// Search Box
.searchBox {
  display: flex;
  border: 2vw solid #fbe404;
  @include border-radius(4px);
  overflow: hidden;

  input[type="text"] {
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    flex-grow: 1;
    padding-inline-start: 5%;
  }

  button {
    border: 2vw;
    color: #fff;
    cursor: pointer;
    font-size: $font-size;
    @include border-radius(0 4px 4px 0);

  }
}

.searchBox img {
  display: block;
}

.searchIcon {
  width: 2vw;
  height: 2vw;
  padding: 0px;
  background-color: grey;
}

.botonMenu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}